
/* --------------------------- */

.search input{
    color: #666666;
    height: 45px;
    border: none;
    padding: 0;
    background: none;
}
.btn_search{
    background-color: #FBC31C;
    color: #fdfdfd;
    height: 38px;
    padding: 0;
    border-radius: 20px;
    width: 100%;
    border: none;
    margin: 2px;
}
.search .col-4
{
    padding-right: 5px;
}
.search{
    margin-top: 10px;
    border: 1px solid #666666;
    border-radius: 22px;
    height: 44px;
}

/* --------------------------- */

.cart_item{
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.cart_item div{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    text-align: center;
    line-height: 18px;
    background-color: #FBC31C;
    position: absolute;
    top: 7px;
    right: 4px;
    color: #fdfdfd;
    font-size: 12px;
}
.cart_item i{
    font-size: 22px;
    color: #080808;
    line-height: 70px;
}
.page_item a{
    color: #080808;
    line-height: 70px;
    font-size: 22pz;
}
.page_item{
    margin-left: 20px;
    margin-right: 20px;
}

/* --------------------------- */

.bg-footer
{
	color: #fdfdfd;
	font-size: 16px;
	line-height: 35px;
    background-color: #282828;
}
.footer-title
{
	color: #fdfdfd;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 32px;
}
.bg-footer ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}
.bg-footer ul li a
{
	color: #fdfdfd;
	font-size: 16px;
	line-height: 35px;
	text-transform: capitalize;
}
.footer-le{
    margin-top: 140px;
}

/* ACCOUNT */

form.boxac{
    text-align: center;
    width: 570px;
    height: 560px;
    display: grid;
    place-content: center;
}
.box_account h1{
    margin-top: 30px;
    font-weight: bold;
}
.boxac{
    margin-top: 15px;
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    width: 570px;
}
.inside{
    height: 50px;
    width: 550px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
}
.title{
    margin-top: 20px;
    height: 15px;
    font-weight: bold;
}
.button_ac1{
    width: 130px;
    height: 35px;
    background-color: #f3f3f3;
    border: #f3f3f3;
    border-radius: 30px;
    margin-top: 30px;
    color: #080808;
}
.button_ac2{
    width: 130px;
    height: 35px;
    background-color: #FBC31C;
    border: #FBC31C;
    border-radius: 30px;
    margin-top: 30px;
    color: #080808;
}
.circle {
    margin-top: 30px;
    background-color: #666666;
    border: 1px solid #666666;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.button_ac1:hover{
    background-color: #080808;
    color: #f3f3f3;
}
.button_ac2:hover{
    background-color: #080808;
    color: #FBC31C;
}
/* #aside
{
	z-index: 30px;
}
#aside
{
    position: absolute;
    top: 0;
    left: -50%;
    background-color: #fff;
    width: 50%;
} */

.pr-list-sidebar ul
{
	padding: 0;
	margin-bottom: 0;
}
.pr-list-sidebar ul li a
{
    margin-top: 20px;
	font-size: 16px;
	color: #666;
	line-height: 40px;
	border-bottom: 1px dashed #f3f3f3;
	display: block;
}
.pr-list-sidebar ul li:nth-last-child(1) a
{
	border: none;
}
.pr-list-sidebar ul li:nth-child(1) a
{
	color: #FBC31C;
}
.pr-list-sidebar li:hover
{
	font-style: italic;
}
.pr-list-sidebar
{
    margin-top: 30px;
	border: 1px solid #f3f3f3;
	padding: 0 16px;
	margin-bottom: 24px;
	padding-top: 16px;
    height: 310px;
    width: 330px;
}
.pr-list-sidebar .line
{
	margin-bottom: 0;
}
.my_account h3{
    font-weight: bold;
    color: #080808;
}
