.image_container {
    position: relative; /* Enable positioning for child elements */
}
.text_overlay {
    position: absolute; /* Position the text overlay on top of the image */
    top: 20%; /* Center vertically */
    left: 10%;
    padding: 20px;
    text-align: start;
}
.text_overlay_title {
    color: #080808;
    text-transform: uppercase;
    line-height: 65px;
}
.text_overlay_p {
    color: #282828;
    margin-top: 12px;
}
.text_overlay_btn {
    background-color: #fbc31c;
    color: #fdfdfd;
    height: 35px;
    width: 120px;
    margin-top: 35px;
    border: none;
    border-radius: 12px;
    margin-right: 55px;
}

/* --------------------- */

.service-content h4 {
    font-size: 18px;
    color: #282828;
    font-weight: bold;
}
.service-content p {
    font-size: 16px;
    color: #666;
    line-height: 20px;
}
.service-item {
    margin-top: 140px;
}

/* --------------------- */

.categories_item {
    box-shadow: 5px 5px 10px #f3f3f3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categories_item img {
    padding: 45px;
}

.categories_item p {
    color: #080808;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.categories_item:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.categories_title {
    color: #080808;
    margin-top: 80px;
    margin-bottom: 30px;
}

/* --------------------- */

.marquee marquee {
    width: 100%;
    height: 70px;
    color: #fdfdfd;
    background-color: #fbc31c;
    line-height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* --------------------- */

.feature_pr_title {
    color: #080808;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* --------------------- */

.banner_btn {
    background-color: #080808;
    color: #fbc31c;
    height: 35px;
    width: 120px;
    margin-top: 35px;
    border: none;
    border-radius: 12px;
    margin-right: 55px;
    transition: background-color 0.3s, color 0.3s; /* Thêm transition cho hiệu ứng mềm mại */
}

.banner_btn:hover {
    background-color: #fdfdfd; /* Màu nền khi hover */
    color: #fbc31c; /* Màu chữ khi hover */
}

.bg_banner {
    background-color: #fbc31c;
}

.banner_title {
    color: #080808;
    padding-top: 25%;
}

.banner_para {
    color: #282828;
    margin-top: 20px;
}

/* --------------------- */

.sub_banner_title {
    margin-top: 80px;
    margin-bottom: 30px;
}
.sub_banner p {
    color: #282828;
    font-size: 14px;
}
.sub_banner h3 {
    color: #080808;
    font-size: 18px;
    font-weight: bold;
}
.sub_banner {
    padding: 30px 20px;
    margin-bottom: 16px;
    background-size: cover;
}
.sub_banner button {
    background-color: #fbc31c;
    color: #fdfdfd;
    height: 35px;
    width: 120px;
    margin-top: 35px;
    border: none;
    border-radius: 12px;
    margin-right: 55px;
    transition: background-color 0.3s, color 0.3s;
}
.sub_banner button:hover {
    background-color: #080808;
    color: #fbc31c;
    height: 35px;
    width: 120px;
    margin-top: 35px;
    border: none;
    border-radius: 12px;
    margin-right: 55px;
}

/* --------------------- */

.getintouch {
    /* background-position: center; */
    /* background-size:100%;
margin-top: 50px; */
    /* margin-bottom: 50px; */
}
.getintouch_info {
    padding: 70px;
    text-align: center;
}
.getintouch_search {
    width: 100%;
    height: 43px;
    color: #666666;
    height: 45px;
    border: none;
    padding: 0;
    background-color: #fdfdfd;
    border-radius: 20px;
}
.getintouch_search input {
    color: #666666;
    height: 45px;
    border: none;
    padding: 0;
    background: none;
}
.btn_submit {
    background-color: #080808;
    color: #fbc31c;
    height: 38px;
    padding: 0;
    border-radius: 20px;
    width: 100%;
    border: none;
    margin: 2px;
}
.getintouch_search .col-4 {
    padding-right: 5px;
}
.getintouch_search {
    margin-top: 10px;
    border: 1px solid #666666;
    border-radius: 22px;
    height: 44px;
}

/* --------------cai nay la vut vao style cua header/foooter ne, nho doi ca file html------- */

.nav_top {
    position: fixed;
    top: -20px; /* Vị trí cố định phía trên cùng */
    /* left: 50px; Vị trí cố định phía trái */
    /* width: 100%; Chiều rộng bằng 100% trang */
    z-index: 10; /* Đặt mức độ ưu tiên hiển thị cao hơn các thành phần khác */
    background-color: #fdfdfd; /* Thiết lập màu nền (màu trắng) */
    position: -10px;
}
.slide {
    z-index: 1;
    margin-top: 85px;
}
.page_ul_li {
    margin-bottom: 0;
}

/* --------------cai nay la vut vao style cua header/foooter ne, nho doi ca file html------- */

.suggestions {
    position: absolute; /* Vị trí tuyệt đối */
    background-color: #fdfdfd; /* Màu nền */
    top: 54px;
    border-radius: 12px;
    width: 300px; /* Chiều rộng bằng 100% */
    z-index: 10; /* Mức độ ưu tiên hiển thị */
    display: none; /* Ẩn mặc định */
    color: #666;
}
.suggestions ul {
    list-style: none; /* Xóa dấu đầu dòng */
    padding: 0;
    margin: 0;
}
.suggestions li {
    padding: 5px; /* Khoảng cách giữa các gợi ý */
}
.suggestions li:hover {
    background-color: #f0f0f0; /* Nền khi rê chuột lên */
}

.image_getintouch {
    width: 2000px;
    height: 370px;
    margin-bottom: 160px;
    margin-top: 100px;
}

.the_image {
    width: 100%;
    height: 360px;
    /* object-fit: cover; */
}
.suggestions {
    display: none;
    max-height: 200px; /* Adjust this value as needed */
    overflow-y: auto;
}
/* ----------------------- */

.pr-i2-name {
    font-size: 18px;
    font-weight: bold;
    color: #282828;
    line-height: 40px;
    text-decoration: none;
}
.pr-i2-name:hover {
    font-size: 18px;
    font-weight: bold;
    color: #fbc31c;
    line-height: 40px;
}
.pr-rating,
.pr-i2-rating {
    padding: 0px;
}
.pr-i2-rating li i {
    font-size: 16px;
    color: #fba82b;
    padding: 0 1px;
}
.pr-i2-rating {
    width: 196px;
    height: 16px;
    list-style-type: none;
}
.old-price {
    font-size: 14px;
    color: #666666;
    text-decoration: line-through;
    margin-top: 2px;
}
.new-price {
    font-size: 18px;
    color: #fbc31c;
    font-weight: bold;
}
.text_product {
    margin-top: 19px;
    font-size: 14px;
    color: #666666;
    line-height: 18px;
}
.productList_image {
    width: 100%;
    height: 238px;
    border-radius: 10px;
}
.btn_add {
    position: absolute;
    top: 194px;
    left: 252px;
    font-size: 24px;
    cursor: pointer;
    color: #fbc31c;
}
.pr-i3 {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 450px;
    box-shadow: 0px 4px 8px #888888;
    position: relative;
}

.container_information {
    margin: 16px 6px 0px 6px;
}
.productList_price {
    margin-top: 18px;
}

.pr-i3:hover {
    transform: scale(1.05); /* Sản phẩm phóng to 110% kích thước gốc */
    transition: transform 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}

/* -------------------------------------- */

/* Style for icon account */
/* Style cho dropdown container */
.cart_item .dropdown {
    position: relative;
    display: inline-block;
}

/* Style cho nội dung dropdown, ẩn đi khi không hoạt động */
.cart_item .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px 10px; /* Giảm kích thước padding */
    white-space: nowrap; /* Ngăn chặn xuống dòng */
}

/* Style cho các liên kết bên trong dropdown */
.cart_item .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hiển thị dropdown content khi hover */
.cart_item .dropdown:hover .dropdown-content {
    display: block;
}

/* Thêm một chút hiệu ứng cho button */
.cart_item button {
    background-color: #fbc31c; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

/* Hiệu ứng khi hover vào button */
.cart_item button:hover {
    background-color: white;
    color: black;
    border: 2px solid #fbc31c;
}
/* Hiệu ứng khi hover vào dropdown link */
.cart_item .dropdown-content a:hover {
    background-color: #ddd;
    color: #333;
}
/* .qr{
position: fixed;
z-index: 20;
} */
.mess {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 150px;
    background: radial-gradient(
        circle farthest-corner at 25% 98%,
        #0078ff 5%,
        #4b69ff 25%,
        #af37f0 55%,
        #ff557d 78%,
        #fa696e 83%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For non-webkit browsers */
    text-fill-color: transparent; /* For non-webkit browsers */
}
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #FBC31C !important;
    color: #fdfdfd;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

