/* dinh nghia file */
*
{
    outline: none;
}
ul, ol{
    list-style: none;
}
a
{
	text-decoration: none;
}
@font-face {
    font-family: VN;
    src: url('fonts/BeVietnamPro-Regular.ttf');
}
body, button, input{
    font-family: VN;
    background-color: #fdfdfd;
}
.text_h1{
    font-family: VN;
    font-size: 55px;
    font-weight: 600
}
.text_h2{
    font-family: VN;
    font-size: 32px;
    font-weight: 600
}
.text_h3{
    font-family: VN;
    font-size: 26px;
    font-weight: 600
}
.text_h4{
    font-family: VN;
    font-size: 22px;
    font-weight: 600
}
.text_h5{
    font-family: VN;
    font-size: 18px;
    font-weight: 600
}
.text_h6{
    font-family: VN;
    font-size: 16px;
    font-weight: 600
}
.text_p1{
    font-family: VN;
    font-size: 14px;
}
.text_p2{
    font-family: VN;
    font-size: 12px;
}

.nav_top{
    margin-top: 20px;
}

/* --------------------------- */

.search input{
    color: #666666;
    height: 45px;
    border: none;
    padding: 0;
    background: none;
}
.btn_search{
    background-color: #FBC31C;
    color: #fdfdfd;
    height: 38px;
    padding: 0;
    border-radius: 20px;
    width: 100%;
    border: none;
    margin: 2px;
}
.search .col-4
{
    padding-right: 5px;
}
.search{
    margin-top: 10px;
    border: 1px solid #666666;
    border-radius: 22px;
    height: 44px;
}

/* --------------------------- */

.cart_item{
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.cart_item div{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    text-align: center;
    line-height: 18px;
    background-color: #FBC31C;
    position: absolute;
    top: 7px;
    right: 4px;
    color: #fdfdfd;
    font-size: 12px;
}
.cart_item i{
    font-size: 22px;
    color: #080808;
    line-height: 70px;
}
.page_item a{
    color: #080808;
    line-height: 70px;
    font-size: 22pz;
}
.page_item{
    margin-left: 20px;
    margin-right: 20px;
}

/* --------------------------- */

.bg-footer
{
	color: #fdfdfd;
	font-size: 16px;
	line-height: 35px;
    background-color: #282828;
}
.footer-title
{
	color: #fdfdfd;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 32px;
}
.bg-footer ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}
.bg-footer ul li a
{
	color: #fdfdfd;
	font-size: 16px;
	line-height: 35px;
	text-transform: capitalize;
}

/* --------------------------- */

/* COLOR */
.bg-xam
{
	background-color: #666;
}
.bg-vang{
    background-color: #FBC31C;
}
.bg-trang{
    background-color: #fdfdfd;
}

/* PRODUCT DETAIL */
.bg-breadcrub {
    background-size: cover;
    padding: 120px 0;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.bg-breadcrub h2
{
	color: #282828;
	font-size: 55px;
	font-weight: 700;
}
.breadcrumb
{
	justify-content: center;
}
.breadcrumb-item a
{
	font-size: 18px;
	color: #282828 !important;
	font-weight: bold;
}
.bg-breadcrub .active
{
	color: #666666;
}

.carousel-btn1
{
	background-size: cover;
}
.carousel-btn2
{
	background-size: cover;
}
.carousel-btn3
{
	background-size: cover;
}

.detail{
    margin-top: 140px;
}
#pr-slide .carousel-indicators
	{
		bottom: -150px;
        /* left: -100px; */
	}
.carousel_product{
    margin-bottom: 190px;
}
#pr-slide .carousel-indicators [data-bs-target]
    {
        width: 150px;
        height: 150px;
        opacity: 1;
        border: 1px solid #fdfdfd;
    }
#pr-slide .carousel-indicators .active
    {
        border-bottom: 3px solid #FBC31C;
    }

.btn-shopnow{
    width: 120px;
    height: 35px;
    border: #FBC31C;
    border-radius: 12px;
    color: #fdfdfd;
}

.btn-shopnow:hover {
    background-color: #080808; /* Nền đen */
    color: #ffcc00; /* Màu chữ vàng */
}

#pr-number
{
    text-align: center;
    width: 60px;
}
/* #pr-i3-rating{
    padding: 0px;
} */
.pr-detail-name
{
	font-size: 55px;
	font-weight: bold;
	color: #080808;
	margin-bottom: 16px;
}
.pr-detail-content
{
	font-size: 16px;
	color: #666;
	line-height: 26px;
}
.pr-property
{
	font-size: 16px;
	font-weight: bold;
	color: #080808;
}
.pr-color li
{
	width: 45px;
	height: 45px;
	margin: 0 5px 0 0;
}
.pr-ssd li
{
	width: 60px;
	height: 28px;
	margin: 0 5px 0 0;
	border: 1px solid #fdfdfd;
	text-align: center;
}
.pr-color li:nth-child(1)
{
	background-color: #080808;
}
.pr-color li:nth-child(2)
{
	background-color: #f0db40;
}
.pr-color li:nth-child(3)
{
	background-color: #dd44a0;
}
.pr-color li:nth-child(4)
{
	background-color: #666;
}
.pr-color li:nth-child(5)
{
	background-color: #2920d4;
}
.pr-color li:nth-child(6)
{
	background-color: #7fe946;
}
.pr-color li:nth-child(1),
.pr-color li:nth-child(2),
.pr-color li:nth-child(3),
.pr-color li:nth-child(4) {
    cursor: pointer; /* Sử dụng kiểu con trỏ bàn tay */
}
.pr-color li:hover {
    transform: scale(1.1); /* Phóng to khi hover */
  }
.selected {
    border: 3px solid #080808; /* Hiển thị viền đen khi được chọn */
}
.star{
    padding-left: 0px;
    color: #FBC31C;
}
.new-price{
    color: #FBC31C;
    font-size: 19px;
    font-weight: bold;
}
.old-price{
    color: #666;
    text-decoration: line-through;
}
#btn-plus, #btn-minus
{
	height: 35px;
	border: none;
	width: 40px;
	margin-right: 5px;
	background-color: #666;
	color: #fdfdfd;
    border-radius: 8px;
}
#pr-number
{
	width: 70px;
	height: 35px;
	border: 1px solid #666;
	margin-right: 5px;
	padding-left: 10px;
    border-radius: 8px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link
{
	border-bottom: 3px solid #FBC31C;
    color: #FBC31C;
}
.nav-tabs .nav-link
{
	border: none;
	font-weight: bold;
	color: #666;
	font-size: 20px;
}
.pr-des
{
	font-size: 20px;
	font-weight: bold;
	color: #666;
	margin: 16px 0;
}
.tab-pane p
{
	font-size: 16px;
	color: #666;
	line-height: 26px;
}
.tab-pane ul li, ol li, tr td
{
	font-size: 16px;
	color: #666;
	line-height: 26px;
}
.tab-pane ul
{
	list-style: disc;
}
.tab-pane ol
{
	list-style: decimal;
}
.tab-pane
{
	background-color: #fff;
	border: 1px solid #fdfdfd;
	padding: 20px;
	/* margin-top: 16px; */
}
.related-pr h3
{
	color: #080808;
	font-weight: bold;
	font-size: 32px;
}
.pr-rating, .pr-i3-rating
{
	padding: 0;
}
.pr-i3-name
{
	font-size: 16px;
	font-weight: bold;
	color: #080808;
	line-height: 40px;
}
.pr-i3-name:hover
{
	font-size: 16px;
	font-weight: bold;
	color: #FBC31C;
	line-height: 40px;
}
.pr-i3-rating li i
{
	font-size: 16px;
	color: #FBC31C;
	padding: 0 1px;
}
.pr-i3-rating
{
	margin: 0;
}
.pr-i3
{
	/* background-color: #fdfdfd;
	padding: 0 16px;
	margin-bottom: 12px; */
	background-color: #fff;
    border-radius: 10px;
	margin-bottom: 30px;
    width: 300px;
    height: 450px;
    box-shadow: 0px 4px 8px #888888;
    position: relative;
}
.pr-i3-name
	{
		font-size: 15px;
		line-height: 25px;
	}

/* --------------------------- */
/* cài thông báo hiển thị add to cart thành công */
/* Basic styling for the toast message */


.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #FBC31C !important;
    color: #fdfdfd;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* .productList_image{
    
    width: 100%;
    height: 238px;
	border-radius: 10px;
    
} */

.btn_add {
    position: absolute;
    top: 194px;
    left: 252px;
    font-size: 24px;
    cursor: pointer;
    color:#FBC31C
  }

.container_information {
margin: 16px 6px 0px 6px;
}

.text_product
{
    margin-top: 19px;
	font-size: 14px;
	color: #666666;
    line-height: 18px;
}

.productList_price{
    margin-top: 18px;
}

.old-price
{
	font-size: 14px;
	color: #666666;
	text-decoration: line-through;
    margin-top: 2px;
}
.new-price
{
	font-size: 18px;
	color: #FBC31C;
    font-weight:bold;
}

.pr-i3:hover{
    transform: scale(1.05); /* Sản phẩm phóng to 110% kích thước gốc */
    transition: transform 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
  }

  .pr-i2-name
{
	font-size: 18px;
	font-weight: bold;
	color: #282828;
	line-height: 40px;
	text-decoration: none
}
.pr-i2-name:hover
{
	font-size: 18px;
	font-weight: bold;
	color: #FBC31C;
	line-height: 40px;
}

.pr-i2-rating
{
    padding: 0px;
}

.pr-i2-rating
{
	font-size: 16px;
	color: #fba82b;
	padding: 0 1px;
}

.pr-i2-rating
{
    width: 196px;
    height: 16px;
	list-style-type: none
}

/* --------------cai nay la vut vao style cua header/foooter ne, nho doi ca file html------- */ 

.nav_top {
    position: fixed;
    top: -20px; /* Vị trí cố định phía trên cùng */
    /* left: 50px; Vị trí cố định phía trái */
    /* width: 100%; Chiều rộng bằng 100% trang */
    z-index: 10; /* Đặt mức độ ưu tiên hiển thị cao hơn các thành phần khác */
    background-color: #fdfdfd; /* Thiết lập màu nền (màu trắng) */
    position: -10px;
  }
.slide{
    z-index: 1;
    margin-top: 85px;
}
.page_ul_li{
    margin-bottom: 0;
}

/* --------------cai nay la vut vao style cua header/foooter ne, nho doi ca file html------- */ 

.suggestions {
    position: absolute; /* Vị trí tuyệt đối */
    background-color: #fdfdfd; /* Màu nền */
    top: 54px;
    border-radius: 12px;
    width: 300px; /* Chiều rộng bằng 100% */
    z-index: 10; /* Mức độ ưu tiên hiển thị */
    display: none; /* Ẩn mặc định */
    color: #666;
  }
  .suggestions ul {
    list-style: none; /* Xóa dấu đầu dòng */
    padding: 0;
    margin: 0;
  }
  .suggestions li {
    padding: 5px; /* Khoảng cách giữa các gợi ý */
  }
  .suggestions li:hover {
    background-color: #f0f0f0; /* Nền khi rê chuột lên */
  }
  
  .custom-tab {
    position: relative;
}

.custom-tab::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -1px;
    left: 0;
    background-color: #fbc31c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.custom-tab.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*dấu tích */
.pr-color {
    list-style: none;
    padding: 0;
}

.color-item {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

.color-item .checkmark {
    position: absolute;
    top: -12px; /* Adjust this value to move the checkmark higher */
    right: -8px;
    display: none;
    color: gray;
    font-size: 20px;
}

.color-item.selected {
    border: 2px solid #080808;
}

.color-item.selected .checkmark {
    display: block;
}

.custom-tab.active, .custom-tab:hover {
    color: #FBC31C !important; /* Màu chữ vàng */
}

.main_product_name
{
	font-size: 35px;
	font-weight: bold;
	color: #282828;
	line-height: 50px;
	text-decoration: none
}
.main_product_name:hover
{
	font-size: 35px;
	font-weight: bold;
	color: #FBC31C;
	line-height: 50px;
}