*{
    outline: none;
}
@font-face {
    font-family: VN;
    src: url('fonts/BeVietnamPro-Regular.ttf');
}
/* FORM SIGN IN */
.formsignup{
    text-align: center;
    width: 636px;
    height: 600px;
    border: 1px solid #666;
    border-radius: 20px;
    display: grid;
    place-content: center;
}
.img_signup img{
    border-radius: 20px;
    height: 600px;
    margin-top: 20px;
}
div .formsignup{
    margin-top: 20px;
}
.headingsignup h2{
    color: #080808;
    text-align: center;
    /* font-weight: bold; */
}
.parasignup{
    color: #666;
}
.box1signup{
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    text-indent: 20px;
    width: 400px;
}
.box2signup{
    /* margin-top: 30px; */
    height: 50px;
    width: 400px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    text-indent: 20px;
}
.box3signup{
    /* margin-top: 30px; */
    height: 50px;
    width: 400px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    text-indent: 20px;
}
.box4signup{
    /* margin-top: 30px; */
    height: 50px;
    width: 400px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    text-indent: 20px;
}
.buttonsignup{
    width: 120px;
    height: 35px;
    background-color: #FBC31C;
    border: #FBC31C;
    border-radius: 30px;
    margin-top: 20px;
}

div .linksi{
    margin-top: 20px;
}
.linksi2 a{

    color: #666;
}
.linksi2 a:hover{
    font-weight: bold;
    color: #FBC31C;
}
.buttonsignup:hover{
    background-color: #080808;
    color: #FBC31C;
}
.box_eye i{
    padding-top: 45px;
 }

.error{
    width: 400px;
    color: red;
    text-align: center;
    padding-right: 10px;
}
.text-red {
    color: red;
}
.error-message{
    width: 400px;
    color: red;
    margin-top: 5px;
}