*{
    outline: none;
}
@font-face {
    font-family: VN;
    src: url('fonts/BeVietnamPro-Regular.ttf');
}
/* FORM SIGN IN */
.formsignup{
    text-align: center;
    width: 636px;
    height: 560px;
    border: 1px solid #666;
    border-radius: 30px;
    display: grid;
    place-content: center;
}
div .formsignup{
    margin-top: 130px;
   
}
.headingsignup{
    color: #080808;
    text-align: center;
}
.parasignup{
    color: #666;
}
.box1signup{
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    text-indent: 20px;
    width: 300px;
    margin-top: 30px;
}
.box2signup{
    margin-top: 30px;
    height: 50px;
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    text-indent: 20px;
}
.box3signup{
    margin-top: 30px;
    height: 50px;
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: #f3f3f3;
    text-indent: 20px;
}
.buttonsignup{
    width: 120px;
    height: 35px;
    background-color: #FBC31C;
    border: #FBC31C;
    border-radius: 30px;
    margin-top: 30px;
}
p{
    color: #666;
    display: inline;
}
div .linksi{
    margin-top: 30px;
}
.p1{
    text-decoration: underline;
}
.p1:hover{
    font-weight: bold;
    font-style: italic;
}
.buttonsignup:hover{
    background-color: #080808;
    color: #FBC31C;
}